src/main/resources/xsd/static_select_widget.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="staticSelectWidget">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="size">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="value" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="selectOptions">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="selectOption">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="value" type="xs:string" />
                    <xs:element name="label" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>